<h1 align=center><font size = 5>Clustering Neighborhoods in Toronto</font></h1>

Firs we do all required imports and we install beautifulsoup4

In [1]:
import requests
import pandas as pd
!pip install beautifulsoup4
from bs4 import BeautifulSoup

Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4) (2.2.1)

<br>
<br>
Now we perform the request to the Wikipedia website to get all html content

In [2]:
url = "https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&direction=prev&oldid=926287641"
page = requests.get(url)
page

<br>
<br>
We have to find the content of the table we want to clean

In [3]:
soup = BeautifulSoup(page.content, 'html.parser')
table = soup.find_all('table')[0]
data = []

for child in soup.find_all('table')[0].children:
    for td in child:
        if isinstance(td, str) == False:
            data.append(td.text.split('\n'))        
for i in range(len(data)):
    while("" in data[i]) :
        data[i].remove("")

<br>
<br>
We now build our DataFrame with the list "data" that contains all the required information

In [4]:
df = pd.DataFrame(data[1::]) #skipping first row to use as columns names
df.columns = data[0]
df.shape

(288, 3)

<br>
<br>
-Ignoring cells with a borough that is Not assigned.<br>
-If cell has a borough but a Not assigned  neighborhood, then the neighborhood will be the same as the borough.<br>
-If more than one neighborhood exist in one postal code area. These two rows will be combined into one row with the neighborhoods separated with a comma.

In [5]:
df = df.loc[df['Borough']!='Not assigned']
df['Neighbourhood'].replace('Not assigned',df[df['Neighbourhood']=='Not assigned']['Borough'].values[0],inplace=True)
df = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(','.join).reset_index()

In [6]:
df.shape

(103, 3)

In [7]:
dfgeo = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/labs_v1/Geospatial_Coordinates.csv')
dfgeo.rename(columns = {'Postal Code': 'Postcode', 'Latitude': 'Latitude', 'Longitude':'Longitude'}, inplace = True)

In [8]:
dfgeo.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [9]:
df_merge = pd.merge(df, dfgeo, on='Postcode')

df_merge

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village,Martin Grove Gardens,Richvie...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens,Beaumond Heights,Humbergate,Jam...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054